* {
    margin: 0;
    padding: 0;
    box-lines: border-box;
    font-family: Helvetica;

}

.Calculadora {

    width: 400px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding-top: 50px;

}

#resultado {
    width: 80%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 20px;
    border: 2px solid rgb(255, 0, 140);
    border-radius: 10px;
}

.Calculadora button {
    width: 20%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border: 2px solid #8d0000;
    border-radius: 10px;
    cursor: pointer;
    transition: 4s

}

.Calculadora button:hover   {
    background-color: rgb(255, 180, 215);
    color: #fff
}

.Calculadora .operador {
    background-color: rgb(255, 0, 157);
    color: #fff;
}

#igual {
    width: 40%;

}

#limpar {
    width: 60%;
}